/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { margin-top: 0.5cm; color: #58533C; font: 100% "Gill Sans", sans-serif; }
#page-wrap { width: 19cm; margin: 0 auto; }

p {margin-top: 0.5cm}
small { display: block; }
label { font-size: 0.6em; }
textarea {overflow: hidden; resize: none;  border: 0; font-size: 0.8em; vertical-align: top; }
table {margin-bottom: 1cm; border-collapse: collapse; width: 100%; }
table td, table th {padding: 5px; border: solid #D7E1C7; }
h2 { font-size: 1.2em; font-family: "Gill Sans", sans-serif; }
td textarea { width: 100%; }

#header { display: flex; align-items: center; }
#logo {position: relative;  float: left; width: 2.85cm; height: 4cm; margin-right: 1cm; margin-bottom: 1cm;}
h1 {font-family: Papyrus, serif;  font-size: 2em; }

.labeled-field { vertical-align: top; }
.emphasize-fillable { border-style: solid; border-width: 0 0 thin 0; }
.info {text-align: center;}
.underskrift {height: 2cm; vertical-align: top;}
.fullwidth {width: 100%; display: block;}

#meta {float: right; width: 300px;  margin-top: 1px; }
#meta td { text-align: right; }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td {  border: 0; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line {text-align: right;  border-right: 0; }
#items td.total-value {padding: 10px;  border-left: 0; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms {margin: 20px 0 0 0;  text-align: center; }
#terms h5 {margin: 0 0 8px 0; padding: 0 0 8px 0; letter-spacing: 10px;  text-transform: uppercase; }
#terms textarea { width: 100%; text-align: center;}

td .number , th .number { font-size: 1em; font-family: "Gill Sans", sans-serif; vertical-align: middle; }
.notice { font-size: 0.8em; }
td.notice { text-align: center; }

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete {position: absolute; top: -6px; left: -22px;  display: block; padding: 0px 3px; text-decoration: none; color: #000; border: 1px solid; background: #EEEEEE; font-family: Verdana; font-size: 12px; font-weight: bold; }
